@import "homebase/reset";
@import "homebase/base";

.container {
  clear: both;
  margin: 0 auto;
  max-width: 1050px;
}

h3 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.image {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin: 5px;
  float: left;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  &:hover:after, &:hover:before {
    opacity: 1;
  }
}

.one {
  background-image: url("https://unsplash.imgix.net/photo-1421977870504-378093748ae6?fit=crop&fm=jpg&h=700&q=75&w=1050");
}

.two {
  background-image: url("https://unsplash.imgix.net/photo-1421809313281-48f03fa45e9f?fit=crop&fm=jpg&h=750&q=75&w=1050");
}

.three {
  background-image: url("https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=725&q=75&w=1050");
}

.four {
  background-image: url("https://unsplash.imgix.net/photo-1420745981456-b95fe23f5753?fit=crop&fm=jpg&h=700&q=75&w=1050");
}

.five {
  background-image: url("https://unsplash.imgix.net/photo-1422513391413-ddd4f2ce3340?fit=crop&fm=jpg&h=700&q=75&w=1050");
}

.image p {
  opacity: 0;
  transition: .2s;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  line-height: 200px;
  &:hover {
    opacity: 1;
  }
  &:after, &:before {
    z-index: -1;
    opacity: .8;
    transition: .2s;
    content: "";
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
}


// @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
//   .image:after, .image:before {
//     background-image: none;
//     background-color: rgba(0, 0, 0, 0.5);
//   }
// }
// .image:hover p, .image:hover:after, .image:hover:before {
//   opacity: 1;
// }

// .hover .image p, .hover .image:after, .hover .image:before {
//   opacity: 1;
// }
